{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<submission-form>
  {{ render_csrf() }}

  <roles-field users-endpoint="{{ url_for('api.select_users') }}"
               groups-endpoint="{{ url_for('api.select_groups') }}"
               :user-request-params="{exclude: {{ current_user.id }}}"
               :show-empty-role="true"
               :field="{{ records_form.roles }}">
    <popover-toggle toggle-class="btn btn-sm btn-light text-muted">
      <template #toggle>
        <i class="fa-regular fa-circle-question"></i> {% trans %}Help{% endtrans %}
      </template>
      <template #content>
        {% trans %}
          This view allows easier management of access permissions of records inside this collection. The selected role
          is applied to all records listed below, which are all linked records whose permissions can be changed by the
          current user.
        {% endtrans %}
        <hr>
        {% trans %}When selecting an empty role, any existing role will be removed instead.{% endtrans %}
      </template>
    </popover-toggle>
  </roles-field>
  <div class="d-flex justify-content-between">
    <submit-field :field="{{ records_form.submit }}"></submit-field>
    <roles-popover :roles="{{ get_object_roles('record') | tojson_escaped }}"></roles-popover>
  </div>
</submission-form>
<hr>
<resource-view title="{% trans %}Linked records{% endtrans %}"
               placeholder="{% trans %}No records.{% endtrans %}"
               endpoint="{{ url_for('api.get_collection_records', id=collection.id, action=['permissions']) }}"
               :per-page="9"
               :show-description="false">
</resource-view>
