{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-4">
        <nav class="nav nav-pills nav-vertical flex-column">
          {% for name, config in plugin_configs.items() %}
            <a class="nav-link {{ 'active' if name == current_plugin }}" href="#{{ name }}" data-toggle="tab">
              {{ config.title }}
            </a>
          {% endfor %}
        </nav>
      </div>
      <div class="col-lg-8 border-top border-lg-top-0 border-lg-left mt-4 mt-lg-0">
        <div class="tab-content mt-4 mt-lg-0">
          {% for name, config in plugin_configs.items() %}
            <div class="tab-pane {{ 'show active' if name == current_plugin }}" id="{{ name }}">
              <submission-form action="?tab=plugins&amp;plugin={{ name }}">
                {{ render_csrf() }}
                {{ config.get_template() | safe }}

                <submit-field :field="{{ config.form.submit }}"></submit-field>
              </submission-form>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
