{# Copyright 2023 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<div class="card bg-light">
  <div class="card-body">
    {% if new_token %}
      <p>
        <i class="fa-solid fa-circle-info"></i>
        {% trans %}
          A new personal access token has been created. Please keep it somewhere safe as you will not be able to access
          it again.
        {% endtrans %}
      </p>
      <strong>{% trans %}Your personal access token{% endtrans %}</strong>
      <div class="input-group input-group-sm">
        <input class="form-control" readonly="true" value="{{ new_token }}">
        <div class="input-group-append">
          <clipboard-button content="{{ new_token }}" class="input-group-text"></clipboard-button>
        </div>
      </div>
    {% else %}
      {% set help_url = '<a class="text-primary" target="_blank" rel="noopener noreferrer" href="{}">'
                        '<strong>{}</strong>'
                        '</a>'
                        .format(url_for("main.help", _anchor="settings"), _("Help")) %}

      <i class="fa-solid fa-circle-info"></i>
      {% trans help=help_url | safe %}
        Access tokens can be used to directly interact with the HTTP API that Kadi4Mat provides. Please see the {{ help
        }} page for more information.
      {% endtrans %}
    {% endif %}
  </div>
</div>
<hr>
<submission-form>
  {{ render_csrf() }}

  <div class="row">
    <text-field class="col-lg-8" :field="{{ form.name }}"></text-field>
    <date-time-field class="col-lg-4" :field="{{ form.expires_at }}"></date-time-field>
  </div>
  <scopes-field :field="{{ form.scope }}" :scopes="kadi.context.scopes"></scopes-field>
  <submit-field :field="{{ form.submit }}"></submit-field>
</submission-form>
