{# Copyright 2023 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "base.html" %}

{% from "variables.html" import legal_notices with context %}

{% block breadcrumbs %}
  {% include "snippets/breadcrumb_home.html" %}
  {% snippet "snippets/breadcrumb.html",
             url=url_for("accounts.login", tab=const.AUTH_PROVIDER_TYPE_OIDC),
             title=_("Login") %}
  {% snippet "snippets/breadcrumb.html", url=url_for("accounts.oidc_provider_register"), title=title %}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <submission-form>
        {{ render_csrf() }}

        <text-field :field="{{ form.displayname }}"></text-field>
        <text-field :field="{{ form.username }}"></text-field>
        <text-field :field="{{ form.email }}"></text-field>

        {% if enforce_legals %}
          <checkbox-field :field="{{ form.accept_legals }}">
            {% trans legal_notices=legal_notices | safe %}I accept the {{ legal_notices }}.{% endtrans %}
          </checkbox-field>
        {% endif %}

        <submit-field :field="{{ form.submit }}"></submit-field>
      </submission-form>
    </div>
  </div>
{% endblock %}
