{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/manage_record_link_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html",
             url=url_for("records.edit_record_link", record_id=record.id, link_id=record_link.id),
             title=title %}
{% endblock %}

{% block content %}
  <confirm-dialog ref="dialog"></confirm-dialog>

  {% snippet "records/snippets/back_to_record.html", record=record, record_link=record_link, tab="links" %}

  <div class="card">
    <div class="card-body">
      <submission-form>
        {{ render_csrf() }}
        <dynamic-select-field endpoint="{{ url_for('api.select_link_names') }}"
                              placeholder="{% trans %}Enter or search for a name{% endtrans %}"
                              :field="nameField"
                              :tags="true"
                              @select="name = $event.id"
                              @unselect="name = ''">
          <template #append>
            <div class="input-group-append">
              <button type="button"
                      class="input-group-text btn btn-light"
                      title="{% trans %}Toggle term IRI{% endtrans %}"
                      :class="{'toggle-active': showTerm}"
                      @click="showTerm = !showTerm">
                <i class="fa-solid fa-link"></i>
              </button>
            </div>
          </template>
        </dynamic-select-field>
        <text-field :field="termField" :input="term" v-show="showTerm">
          <template #append>
            <div class="input-group-append">
              <button type="button" class="btn btn-light" @click="showTermSearch">
                <i class="fa-solid fa-search"></i> {% trans %}Find term{% endtrans %}
              </button>
            </div>
            </div>
          </template>
        </text-field>
        <div class="d-flex justify-content-between">
          <submit-field :field="{{ form.submit }}"></submit-field>
          <button type="button" class="btn btn-danger" @click="removeLink">
            {% trans %}Remove record link{% endtrans %}
          </button>
        </div>
      </submission-form>
      <form action="{{ url_for('records.remove_record_link', record_id=record.id, link_id=record_link.id) }}"
            method="post"
            ref="delete">
        {{ render_csrf() }}
      </form>
      <term-search endpoint="{{ url_for('api.get_terms') }}" @select-term="selectTerm" ref="termSearch"></term-search>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      data() {
        return {
          nameField: kadi.context.name_field,
          termField: kadi.context.term_field,
          showTerm: false,
          name: '',
          term: '',
        };
      },
      methods: {
        showTermSearch() {
          this.$refs.termSearch.showDialog(this.name);
        },
        async selectTerm(term) {
          // Necessary to correctly handle the case of selecting the same term twice.
          this.term = '';
          await this.$nextTick();
          this.term = term;
        },
        async removeLink() {
          const input = await this.$refs.dialog.open($t('Are you sure you want to remove this record link?'));

          if (input.status) {
            this.$refs.delete.submit();
          }
        },
      },
      mounted() {
        this.name = this.nameField.data[0];

        if (this.termField.data) {
          this.showTerm = true;
        }
      },
    });
  </script>
{% endblock %}
