{# Copyright 2021 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<submission-form action="?tab=misc&amp;action=test_email" :check-dirty="false">
  {{ render_csrf() }}

  <div class="row align-items-center">
    <div class="col-md-10">
      {% trans %}Test email{% endtrans %}
      <small class="form-text text-muted">
        {% trans %}
          Send a test email to yourself using the email and SMTP settings the application is configured with.
        {% endtrans %}
        {% trans %}
          Note that a success message only indicates that the background task for sending emails was started
          successfully.
        {% endtrans %}
      </small>
    </div>
    <div class="col-md-2 mt-2 mt-md-0 d-md-flex justify-content-end">
      <input type="submit" class="btn btn-sm btn-primary" value="{% trans %}Send test email{% endtrans %}">
    </div>
  </div>
</submission-form>
<hr>
<submission-form>
  {{ render_csrf() }}

  <checkbox-field :field="{{ misc_form.robots_noindex }}"></checkbox-field>
  <submit-field :field="{{ misc_form.submit }}"></submit-field>
</submission-form>
