{# Copyright 2023 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<div class="card bg-light">
  <div class="card-body">
    <i class="fa-solid fa-circle-info"></i>
    {% trans %}
      Merging users allows permanently combining multiple accounts into one. The primary user determines the user ID as
      well as other user attributes that will be taken over, such as the displayname or profile information, while all
      resources, permissions and settings of the secondary user will be migrated to the primary user. This also includes
      the identities used for authentication, i.e. the merged user will be able to log in with the credentials of both
      users afterwards.
    {% endtrans %}
  </div>
</div>
<hr>
<submission-form @submit="mergeUsers" ref="merge">
  {{ render_csrf() }}

  <dynamic-select-field endpoint="{{ url_for('api.select_users') }}"
                        :field="{{ merge_users_form.primary_user }}"
                        :placeholder="$t('Search for users')"
                        @select="primaryUserInfo = $event.body"
                        @unselect="primaryUserInfo = null">
  </dynamic-select-field>
  <dynamic-select-field endpoint="{{ url_for('api.select_users') }}"
                        :field="{{ merge_users_form.secondary_user }}"
                        :placeholder="$t('Search for users')"
                        @select="secondaryUserInfo = $event.body"
                        @unselect="secondaryUserInfo = null">
  </dynamic-select-field>
  <div class="mt-2 mb-3" v-if="primaryUserInfo && secondaryUserInfo">
    <div class="row">
      <div class="col-md-5">
        <div class="card bg-light">
          <div class="card-header py-1">{% trans %}Primary user{% endtrans %}</div>
          <div class="card-body py-2">
            <div v-html="primaryUserInfo"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 d-flex justify-content-center align-items-center my-4">
        <i class="fa-solid fa-arrow-left-long fa-xl"></i>
      </div>
      <div class="col-md-5">
        <div class="card bg-light">
          <div class="card-header py-1">{% trans %}Secondary user{% endtrans %}</div>
          <div class="card-body py-2">
            <div v-html="secondaryUserInfo"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <submit-field :field="{{ merge_users_form.submit }}"></submit-field>
</submission-form>
