{# Copyright 2023 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% if new_username and new_password %}
  <div class="card bg-light">
    <div class="card-body">
      <p>
        <i class="fa-solid fa-circle-info"></i>
        {% trans username=new_username %}
          Local user &quot;{{ username }}&quot; was registered with an initial password. Please keep it somewhere safe
          as you will not be able to access it again. Alternatively, the user may reset their password on their own.
        {% endtrans %}
      </p>
      <strong>{% trans %}Initial user password{% endtrans %}</strong>
      <div class="input-group input-group-sm">
        <input class="form-control" readonly="true" value="{{ new_password }}">
        <div class="input-group-append">
          <clipboard-button content="{{ new_password }}" class="input-group-text"></clipboard-button>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endif %}

<submission-form>
  {{ render_csrf() }}

  <text-field :field="{{ register_user_form.displayname }}"></text-field>
  <text-field :field="{{ register_user_form.username }}"></text-field>
  <text-field :field="{{ register_user_form.email }}"></text-field>
  <submit-field :field="{{ register_user_form.submit }}"></submit-field>
</submission-form>
